/* Toggle Switch Styling */
.ninja-table-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.ninja-table-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.ninja-table-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.ninja-table-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .ninja-table-slider {
    background-color: #2196F3;
}

input:focus + .ninja-table-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .ninja-table-slider:before {
    transform: translateX(26px);
}

/* Checkbox styling */
input[data-ninja-table-element="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.tablepress-editor--modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0; top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.tablepress-editor--modal h2{
    margin: 0;
    margin-bottom: 10px;
}
  
.tablepress-editor--modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 1em;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
  
.tablepress-editor--modal-header, .tablepress-editor--modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.tablepress-editor--modal .editor-modal-close {
    font-size: 24px;
    cursor: pointer;
}
#tablepress-editor-insert-text-save{
    margin-top: 10px;
}
.tablepress-editor__section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.tablepress-editor__preview{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 30px;
    gap: 10px;
}
.tablepress-editor__preview .preview-checkbox {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-size: 20px;
    background-repeat: no-repeat;
}
.tablepress-editor__preview .preview-checkbox.checked{
    background-image: url("../image/red-checked.svg");
}
.tablepress-editor__preview .preview-checkbox.uncheck{
    background-image: url("../image/red-uncheck.svg");
}

.tablepress-editor__preview .label-preview{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tablepress-label.tablepress-label-label,.tablepress-custom-checkbox,.tablepress-custom-radio,.tablepress-custom-toggle{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 3px;
}


svg#Layer_1 {
    height: 15px;
    width: 15px;
}
.cls-1 {
fill: red;
}
.radio-icon svg rect{
    stroke: #E03C31;
}
.radio-icon svg circle{
    fill: #E03C31;
}
.oa-label{
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
#tablepress-editor-insert-label .tablepress-editor--modal-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#tablepress-editor-insert-label .tablepress-editor--modal-body .modal-field{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}
#tablepress-editor-insert-label .tablepress-editor--modal-body .modal-field.free-text-area{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
#tablepress-editor-insert-label .tablepress-editor--modal-body .modal-field #wp-label-free-textarea-wrap{
    width: 100%;
}
#tablepress-editor-insert-label .tablepress-editor--modal-body .modal-field .icon-preview{
    display: block;
    max-width: 30px;
}
#tablepress-editor-insert-label .tablepress-editor--modal-body .modal-field .icon-preview img{
    max-width: 30px;
}
.tablepress-options.tablepress-options-palette tr {
    display: flex;
    align-items: center;
    gap: 10px;
}
.tablepress-options.tablepress-options-palette tr td{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
#tablepress-edit-screen{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    margin-bottom: 30px;
    border: 1px solid #CECECE;
}
#tablepress-edit-screen .components-panel__body{
    display: block;
    width: 100%;
}
#tablepress-edit-screen .components-panel__body .components-radio-control__group-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
#tablepress-edit-screen .components-panel__body .components-panel__body-title{
    border-bottom: 1px solid #cecece;
    margin-bottom: 30px;
}
.tablepress-editor__preview {
    display: none;
}
.theme-palette-image-preview{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.theme-palette-image-preview .theme-palette {
    display: flex;
    width: calc(20% - 20px);
    flex-direction: column;
}

.toggle-on .tablepress-toggle-1 {
    fill: #E03C31;
}
.toggle-on .tablepress-toggle-2 {
    fill: #FFFFFF;
    stroke: #E03C31;
}
.toggle-off .tablepress-toggle-1 {
    fill: #CCCCCC;
}
.toggle-off .tablepress-toggle-2 {
    fill: #FFFFFF;
    stroke: #CCCCCC;
}